body {

	font-family: 'Quicksand', sans-serif;

}

h1 {
	font-family: 'Raleway', sans-serif;
}

.navbar{
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}
.navbar-brand {
	padding: 0px;
}
.navbar-brand>img {
	height: 100%;
	padding: 15px;
	width: auto;
}
.navbar-brand {
	height: 80px;
}

ul.nav.navbar-nav.navbar-right {
	margin-top: 20px;
	color: #fff;
	border-bottom: 1px solid;
	border-top: 1px solid;
}

.nav li {
	color: #fff;
	border-right: 1px solid;
}

.nav li a{
	color: #fff;
	padding: 10px 40px;
}

.nav > li > a:hover{
		background-color:#000;
}

ul.dropdown-menu {
	border-radius: 5px !important;
	background: black;
	margin: 20px !important;
	left: 0px !important;
	right: auto !important;
	border: 2px solid;
	border-color: rgba(248,80,50,1);
	border-color: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(32%, rgba(241,111,92,1)), color-stop(54%, rgba(246,41,12,1)), color-stop(85%, rgba(246,41,12,1)), color-stop(88%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	border-color: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}


ul.dropdown-menu .drowpdown-submenu1 {
	display: none;
	list-style: none;
}

ul.dropdown-menu .drowpdown-submenu2 {
	display: none;
	list-style: none;
}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  color: #000 !important;
}

.nav ul.dropdown-menu li {
	color: #fff;
	border-right: 0px solid;
}


#footer{
	background: #000;
	padding: 100px;
}

#footer h1{
	color: #fff;
	font-size: 16px;
}

#footer ul{
	margin: 0;
	padding-left: 0px; 
	list-style-type: none;
}

#footer ul li a{
	color: #fff;
	font-size: 12px;
	padding-right: 10px;
}

#footer .social a {
	font-size: 28px;
	text-align: left;
}


/* go2top */
.go2top,
.go2top:focus {
	right: 15px;
	bottom: 8px;
	width: 38px;
	height: 38px;
	z-index: 9999;
	line-height: 1;
	font-size: 18px;
	position: fixed;
	text-align: center;
	border-radius: 50%;
	padding: 7px 0 0 1px;
	background: transparent;
	color: #3f5263;
	border: solid 2px #3f5263;
}
.go2top:hover,
.go2top:focus:hover {
	color: #fff;
	background: #3f5263;
	transition-duration: 400ms;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}




/*miscelanous*/




