@media (max-width:320px)  
{ 
/* smartphones, iPhone, portrait 480x320 phones */ 
	

}
@media (max-width:481px)  
{ 
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
	.navbar {
		background: #000;
	}

	#intro {
		margin-top: 80px;
	}

	#aboutslider{
		margin-top: 80px;
	}

	#whoweare .wwa_cont_title {
	    margin: 50px 10px 10px 10px;
	    text-align: right;
	}

	#whoweare .wwa_cont_body {
	    width: 100%;
	    text-align: right;
	    float: right;
	    line-height: 30px;
	    font-size: 16px;
	}

	#news .news-cont {
	    width: 100%;
	}

	#meet-team {
		display: none;
	}

	.go2top:focus {
		background: #000;
	}
	

}
@media (min-width:641px)  
{ 
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px)  
{ 
/* tablet, landscape iPad, lo-res laptops ands desktops */ 
}