/*arrow top pointing down*/
/*-webkit-clip-path: polygon(50% 10%, 60% 0, 100% 0, 100% 100%, 0 100%, 0 0, 40% 0);
clip-path: polygon(50% 10%, 60% 0, 100% 0, 100% 100%, 0 100%, 0 0, 40% 0);*/

/*arrow bottom pointing up*/
/*-webkit-clip-path: polygon(40% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 60% 100%, 50% 90%);
clip-path: polygon(40% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 60% 100%, 50% 90%);*/

#intro ul{
	-webkit-clip-path: polygon(0 0, 100% 1%, 100% 88%, 50% 100%, 0 88%);
	clip-path: polygon(0 0, 100% 1%, 100% 88%, 50% 100%, 0 88%);
	background: rgba(248,80,50,1);
	background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(32%, rgba(241,111,92,1)), color-stop(54%, rgba(246,41,12,1)), color-stop(85%, rgba(246,41,12,1)), color-stop(88%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}

#intro li{
	height: 97% !important;
	-webkit-clip-path: polygon(0 0, 100% 1%, 100% 88%, 50% 100%, 0 88%);
	clip-path: polygon(0 0, 100% 1%, 100% 88%, 50% 100%, 0 88%);
	border-bottom: 5px solid;
	border-color: rgba(248,80,50,1);
	border-color: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(32%, rgba(241,111,92,1)), color-stop(54%, rgba(246,41,12,1)), color-stop(85%, rgba(246,41,12,1)), color-stop(88%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	border-color: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}

#aboutslider li {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.subtitle-v3 {
	font-family: 'Cabin', sans-serif;
	color: #fff;
	text-align: center;
	font-size: 80px;
}

.subtitle-v1 {
	font-family: 'Cabin', sans-serif;
	color: #fff;
	text-align: right;
	font-size: 50px;
}

.subtitle-v2 {
	font-family: 'Cabin', sans-serif;
	color: #fff;
	text-align: right;
	font-size: 18px;
}

#header_bottom {

}

#header_bottom .col-md-4.border {
	border-right: 1px solid #000;border-left: 1px solid #000;
}

#header_bottom a .casting {
	background: url('/uploads/images/CH_BW.png');
	height: 178px;
	width: 130px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
    position: relative;
}

#header_bottom a .event {
	background: url('/uploads/images/EP_BW.png');
	height: 178px;
	width: 130px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
    position: relative;
}

#header_bottom a .talent {
	background: url('/uploads/images/TM_BW.png');
	height: 178px;
	width: 130px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
    position: relative;
}

#header_bottom a .casting:hover {
	background: url('/uploads/images/CH_Colored.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 178px;
	width: 130px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
    position: relative;
}

#header_bottom a .event:hover {
	background: url('/uploads/images/EP_Colored.png');
	background-repeat: no-repeat;
	background-size: cover;

}

#header_bottom a .talent:hover {
	background: url('/uploads/images/TM_Colored.png');
	background-repeat: no-repeat;
	background-size: cover;
}

#meet-team {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('/images/background/meet-team.png');
	height: 800px;
}

#meet-team .col-md-4 {
	text-align: center;
}

#meet-team .header{
	margin-top: 200px;
	text-align: center;
	color: #fff;
}

.profile-pic img{
	border-radius: 50%;
	border: 5px solid #fff;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 250px;
}

.profile-pic img:hover{
	border-radius: 50%;
	border: 5px solid;
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    border-color: rgba(250,103,5,1);
	border-color:: -moz-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
	border-color:: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,103,5,1)), color-stop(50%, rgba(245,86,12,1)), color-stop(100%, rgba(255,0,0,1)));
	border-color:: -webkit-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
	border-color:: -o-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
	border-color:: -ms-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
	border-color:: linear-gradient(to bottom, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa6705', endColorstr='#ff0000', GradientType=0 );
}

#meet-team .profile-desc {
	margin: 20px 0;
	border-right: 1px solid #fff;
}

#meet-team .profile-desc h1{
	color: #fff;
	font-size: 19px;
	text-align: right
}

#meet-team .profile-desc h1 span{
	font-size: 12px;
}


#meet-team .profile-social {
	margin: 30px 0;
}

#meet-team .profile-social a{
	color: #fff;
	font-size: 28px;
}


/* team profile */
t
.modal-dialog {
	border-radius: 5px;
	
	border: 2px solid;
	border-color: rgba(248,80,50,1);
	border-color: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(32%, rgba(241,111,92,1)), color-stop(54%, rgba(246,41,12,1)), color-stop(85%, rgba(246,41,12,1)), color-stop(88%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	border-color: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}

.modal-header {
	border-bottom: 0px solid #e5e5e5
}

.modal-content {
	border-radius: 5px;
	background: #000;
	border: 2px solid;
	border-color: rgba(248,80,50,1);
	border-color: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(32%, rgba(241,111,92,1)), color-stop(54%, rgba(246,41,12,1)), color-stop(85%, rgba(246,41,12,1)), color-stop(88%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	border-color: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	border-color: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 32%, rgba(246,41,12,1) 54%, rgba(246,41,12,1) 85%, rgba(240,47,23,1) 88%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}

.modal-header .close {
	background: #fff;
	opacity: 100;

	position: relative;
	top: -30px;
	right: -30px;
	border: 1px solid;
	border-radius: 100px;
	height: 40px;
	width: 40px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0000+0,ffbe3d+100 */
	border-color: #ff0000; /* Old browsers */
	border-color: -moz-linear-gradient(top, #ff0000 0%, #ffbe3d 100%); /* FF3.6-15 */
	border-color: -webkit-linear-gradient(top, #ff0000 0%,#ffbe3d 100%); /* Chrome10-25,Safari5.1-6 */
	border-color: linear-gradient(to bottom, #ff0000 0%,#ffbe3d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ffbe3d',GradientType=0 ); /* IE6-9 */

	color: #ff0000; /* Old browsers */
	color: -moz-linear-gradient(top, #ff0000 0%, #ffbe3d 100%); /* FF3.6-15 */
	color: -webkit-linear-gradient(top, #ff0000 0%,#ffbe3d 100%); /* Chrome10-25,Safari5.1-6 */
	color: linear-gradient(to bottom, #ff0000 0%,#ffbe3d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ffbe3d',GradientType=0 ); /* IE6-9 */
}

.modal-body {
	color: #fff;
}

.modal-body div img {
	margin: 0 auto;
}

.modal-body h2 {
	font-size: 20px;
}



/*meet the team 2*/
#meet-team2 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('/uploads/images/meetteambg.jpg');
	min-height: 1780px;
	z-index: 1;
	top: -200px;
	position: relative;
}


#meet-team:before {
    /*content:"";
    position: absolute;
    top: 100%;
    width:0px;
    height:0px;
    left:0px;
    border-left:100px solid transparent;
    border-right:100px solid transparent;
    border-top:50px solid blue;*/
}

#meet-team2 .col-md-4 {
	text-align: center;
}

#meet-team2 .header{
	margin-top: 200px;
	text-align: center;
	color: #fff;
}

#meet-team2 .profile-pic img{
	border-radius: 50%;
	border: 5px solid #fff;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 250px;
    text-align: center;
}

#meet-team2 .profile-pic img:hover{
	border-radius: 50%;
	border: 5px solid;
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    border-color: rgba(250,103,5,1);
	border-color: -moz-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
	border-color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,103,5,1)), color-stop(50%, rgba(245,86,12,1)), color-stop(100%, rgba(255,0,0,1)));
	border-color: -webkit-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
	border-color: -o-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
	border-color: -ms-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
	border-color: linear-gradient(to bottom, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa6705', endColorstr='#ff0000', GradientType=0 );
}

/*background: rgba(250,103,5,1);
background: -moz-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,103,5,1)), color-stop(50%, rgba(245,86,12,1)), color-stop(100%, rgba(255,0,0,1)));
background: -webkit-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(250,103,5,1) 0%, rgba(245,86,12,1) 50%, rgba(255,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa6705', endColorstr='#ff0000', GradientType=0 );*/

#meet-team2 .profile-desc {
	margin: 20px 0;
	border-right: 1px solid #fff;
}

#meet-team2 .profile-desc h1{
	color: #fff;
	font-size: 19px;
	text-align: right
}

#meet-team2 .profile-desc h1 span{
	font-size: 12px;
}


#meet-team2 .profile-social {
	margin: 30px 0;
}

#meet-team2 .profile-social a{
	color: #fff;
	font-size: 28px;
}

#client {
	margin: 50px 0;
	
}

#client h1 {
	text-align: center;
	color: #590000;

}

#client img {
	text-align: center;
}

.carousel-inner .item img {
	margin: 0 auto;
}

.carousel-control.left {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 0%); 
 	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 0%); 
 	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001))); 
 	background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 0%); 
 	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); 
 	background-repeat: repeat-x 
}

.carousel-control.right {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 0%); 
 	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 0%); 
 	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001))); 
 	background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 0%); 
 	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); 
 	background-repeat: repeat-x 
}

#header_bottom {
	padding: 30px 0;
	margin-top: 30px;
}
#header_bottom h2{
	font-family: 'Quicksand', sans-serif;
	font-size: 43px;
	margin: 0;
}
#header_bottom h1.method2{
	/*font-family: 'Cabin', sans-serif;*/
	font-size: 73px;
	font-weight: 400;
	color: rgba(248,80,50,1);
	margin: 0;

}


h1.method2 {
	
}

#header_bottom .hb_cont {
	text-align: center;
}

#whoweare {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('/uploads/images/whowearebg.jpg');
	height: 800px;
	color: #fff;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

#whoweare .wwa_cont_title {
	margin: 100px 0;
	text-align: right;
}

#whoweare .wwa_cont_title h1{
	font-family: 'Cabin', sans-serif;
	font-weight: 200;
}

#whoweare .wwa_cont_body {
	width: 50%;
	text-align: right;
	float: right;
	line-height: 30px;
	font-size: 16px;
}

#news {

	margin: 100px 0;

}

#news h1{
	font-family: 'Cabin', sans-serif;
	font-size: 35px;
	color: #590200;
	text-align: center;
}

#news .news-cont{
	width: 730px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

/*.modal .event-carousel {
	height: 150px;
}*/

.item img {
	height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 250px;
}

#news .news-cont h1{
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: #590200;
	text-align: left;
}

#news .news-cont p{
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	color: #000;
}

#news .news-cont .imgdown-col {
	width: 230px;
	float: left;
}

#news .news-cont .imgdown-col .row{
 	margin-left: 0px;
 	margin-right: 0px;
}

#news .news-cont .imgdown-col .imgdownhead{
	height: 230px;
	padding: 5px;
}

#news .news-cont .imgdown-col .imgdownimg{
	height: 230px;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-clip-path: polygon(50% 10%, 60% 0, 100% 0, 100% 100%, 0 100%, 0 0, 40% 0);
	clip-path: polygon(50% 10%, 60% 0, 100% 0, 100% 100%, 0 100%, 0 0, 40% 0);
}

#news .news-cont .imgdown-col .imgdownimg:hover{
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

#news .news-cont .imgdown-col .imguphead{
	height: 230px;
	padding: 5px;
}

#news .news-cont .imgdown-col .imgupimg{
	height: 230px;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-clip-path: polygon(40% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 60% 100%, 50% 90%);
	clip-path: polygon(40% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 60% 100%, 50% 90%);
}

#news .news-cont .imgdown-col .imgupimg:hover{
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/*top arrow*/
#news .news-cont .imgdown-col .arrowtop{
	height: 230px;
	-webkit-clip-path: polygon(40% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 60% 100%, 50% 90%);
	clip-path: polygon(40% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 60% 100%, 50% 90%);
}

#news .news-cont .imgdown-col .imgbot{
	height: 260px;
	top: -30px;
	z-index: -1;
	position: relative;
}


/*bottom arrow*/
#news .news-cont .imgdown-col .imgtop{
	
	height: 260px;

}

#news .news-cont .imgdown-col .arrowbot{
	height: 230px;
	position: relative;
	z-index: 1;
	top: -30px;
    -webkit-clip-path: polygon(50% 10%, 60% 0, 100% 0, 100% 100%, 0 100%, 0 0, 40% 0);
    clip-path: polygon(50% 10%, 60% 0, 100% 0, 100% 100%, 0 100%, 0 0, 40% 0);
}

#servicebody {
	background: #fff;
}

#servicebody h1 {
	color: #560200;
	font-size: 60px;
	font-family: 'Quicksand', sans-serif;
}

#bottomimg {
	text-align: center;
	margin: 100px;
}

#contact {
	margin: 100px 0;
}

#contact h1 {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 30px;
	text-align: center;

	color: rgba(255,175,75,1);
	color: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(252,225,192,1) 100%);
	color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(252,225,192,1)));
	color: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(252,225,192,1) 100%);
	color: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(252,225,192,1) 100%);
	color: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(252,225,192,1) 100%);
	color: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(252,225,192,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#fce1c0', GradientType=0 );

}

#events {

	margin: 100px;

}

#events a {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#events a:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

#events a img{

	height: 300px !important;
	width: 300px !important;
	

}

#events a h1 {
	font-size: 26px;
	position: relative;
    z-index: 1;
    top: -105px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

#events .col-md-4 {

	text-align: center;
	margin-bottom: 50px;

}
.eventsModal .header {
	padding-left: 50px;
}
.eventsModal img{
	max-height: 130px;
	margin: 50px !important;
}

.eventsModal ul.img-col li{
	list-style: none;
}


.form-control {
	height: 50px;
	font-size: 20px;
}

.btn {
	color: #fff;
	padding: 10px 40px;
	font-size: 20px
	background: rgba(255,175,75,1);
	background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,142,10,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(250,142,10,1)));
	background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,142,10,1) 100%);
	background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,142,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(250,142,10,1) 100%);
	background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(250,142,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#fa8e0a', GradientType=0 );
}

.btn-clear {
	background-color: Transparent !important;
	border: 1px #fff solid;
	color: #fff;
	padding: 10px 40px;
	font-size: 20px;
	border-radius: 5px;
}

#pastevents {
	background: #f1f3f2;

}

#pastevents .row h1{
	font-size: 50px;
	color: #590200;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

#pastevents .news-cont {
	padding: 100px;

}

#pastevents .news-cont.odd {

}

#pastevents .news-cont.even {
	background: #fff;
	border-top: 2px solid #e2b6ab;
	border-bottom: 2px solid #e2b6ab;
}

#pastevents .news-cont.odd h1{
	font-size: 28px;
	color: #590200;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
}

#pastevents .news-cont.even h1{
	font-size: 28px;
	color: #590200;
	font-family: 'Quicksand', sans-serif;
	text-align: right;
}

#pastevents .news-cont.odd p{
	text-align: left;
}

#pastevents .news-cont.even p{
	text-align: right;
}

#pastevents .news-cont.odd p a{
	color: #590200;
	font-family: 'Quicksand', sans-serif;
	float: right;
	font-size: 22px;
}

#pastevents .news-cont.even p a{
	color: #590200;
	font-family: 'Quicksand', sans-serif;
	float: left;
	font-size: 22px;
}

#pastevents .news-cont.odd img {
	display: block;
	height: 200px;
	margin: 0 auto;
	-webkit-clip-path: polygon(100% 0, 100% 48%, 90% 57%, 100% 64%, 100% 100%, 0 100%, 0 0);
	clip-path: polygon(100% 0, 100% 48%, 90% 57%, 100% 64%, 100% 100%, 0 100%, 0 0);
}

#pastevents .news-cont.even img {
	display: block;
	height: 200px;
	margin: 0 auto;
	-webkit-clip-path: polygon(10% 51%, 0 43%, 0 0, 100% 0, 100% 100%, 0 100%, 0 63%);
	clip-path: polygon(10% 51%, 0 43%, 0 0, 100% 0, 100% 100%, 0 100%, 0 63%);
}

#upcoming {
	padding: 100px 50px;
}

#upcoming h1 {
	font-size: 50px;
	color: #590200;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

#upcoming .title h1 {
	font-size: 38px;
	color: #590200;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
}

#upcoming .calendar .date h1 {
	font-size: 22px;
	color: #590200;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
}

#upcoming .calendar .info{
	background: #f1f3f2;
}

#upcoming .calendar .info p {
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
	padding: 15px;
}

#upcoming .calendar .info p strong{
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
	font-weight: 700;
}

.news-click {

}

.news-click img {
	width: 700px;
	padding: 50px;
}

.news-click p {
	padding: 50px;
}

/*MOBILE*/

.navbar-toggle {
	border: #fff !important;
}

.navbar-toggle .icon-bar {
	background-color: #fff !important;
}

.navbar-toggle .icon-bar+.icon-bar {
	background-color: #fff !important;
}
	
